* {
  /*確保每個元素的
  內距和邊框不會
  增加到元素本身的寬度
  */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
section {
  /*總版面*/
  margin:120px auto auto auto;
  height: 520px;
  width: 1180px;
  background-color: #DDDDDD;
}

p{
  /*大圖標題*/
  color:white;
  font-size: 33px;
  position: absolute;
  bottom:5px;
  left: 40px;
  width: 90%;
  font-family: Microsoft JhengHei;/*字體*/
}


.content{
  /*大圖內容*/
  font-size: 18px;
  bottom:5px;
}

.title{
  margin-bottom: 60px;
}

.smallTitle{
  /*小圖標題*/
  font-size: 18px;
  position: absolute;
  left:7px;
  width: 100%;
}

.BigBox {
  /*大圖位置*/
  float: left;
  width:calc(50% - 10px);
  height: 90%;
  display: block;
  background-image: url("cover.jpg");
  background-size: cover;/*圖片完整縮放*/
  position: relative;
 border-radius: 5px;
}

.Box {
  /*小圖位置*/
  width:calc(25% - 5px);
  height: calc(45% - 5px);  /*padding-bottom*/
  float:left;
  margin-left:10px ;
  display: block;
  background-image: url("cover.jpg");
  background-size: cover;/*圖片完整縮放*/
  position: relative;
  border-radius:5px;/*四角縮放*/
}

.Box:before,.BigBox:Before{
  content: '';/*必須*/
  position: absolute;
  top: 0;/*四邊縮放距離*/
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0,0,0,0)50%,rgba(0,0,0,0.8)80%);/*漸層語法 (方向,初始顏色,結束顏色)*/
  opacity:0.8; /*透明度*/
  border-radius: 5px;/*四角縮放*/
}

.down{
  margin-top: 10px;  /*小圖上方縮排*/
}
/*rwd*/
@media (max-width: 500px){
  .BigBox{
    width:calc(25% - 5px);
    height: calc(45% - 5px);
    float:none;
    margin-left: 10px;
  }
  .Box{
  
    margin-top:10px;
    float:none;
  }
  .content{
    font-size: 14px;
  }
  p{
    left:0;
    font-size: 23px;
    width:100%;
  }
}