section {
  margin: 120px auto auto auto;
  height: 500px;
  width: 1300px;
  background-color: #DDDDDD;
  }
.BigBox {
  float: left;
  width: 50%;
  height: 90%;
  display: block;
  background-color: #AAAAAA;
   }
.Box {
  width: 24%;
  height: 44%;
  float:left;
  margin-left: 10px;
  display: block;
  background-color: black;
}
.down
{
  margin-top: 10px;
}
