.center
{
	display: inline-block;
	margin-left: 400px;
	margin-top: 100px;
	background-color: #009FCC;
	color:white;
}

.left
{
	display: inline-block;
	background-color:#AAAAAA;
	width:250px;
	height: 250px;
}

.right
{
	display: inline-block;
	background-color: #AAAAAA;
	width: 250px;
	height: 250px;
	margin-left: 380px;
}

img
{
	width:60px;
	border-radius: 50%;
}